* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 200px;
  padding: 1em 0px 3em 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../public/assets/images/pattern-bg.png");
}

main {
  flex-grow: 1;
}

h1 {
  color: white;
  margin-bottom: 0.75em;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  max-width: 500px;
}

input,
button {
  outline: none;
  border: none;
  padding: 1em;
  cursor: pointer;
}

button:hover, button:focus{
  background-color: rgba(0, 0, 0, 0.65);
}

input {
  border-radius: 10px 0px 0px 10px;
  width: 90%;
}

.submit-btn {
  text-align: center;
  width: 10%;
  border-radius: 0px 10px 10px 0px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button img {
  width: 10px;
}

.refreshBtn{
  margin-top: 1em;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.ip-info-wrapper {
  margin-top: 1rem;
  position: relative;
}

.ip-info {
  top: 0;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 500px;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px grey;
}

.ip-info div {
  /* border: 2px solid red; */
  padding: 0.5em 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: 500;
}

.title {
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-bottom: 0.5em;
  color: rgba(128, 128, 128, 0.7);
  letter-spacing: 1px;
}

.title + span {
  font-size: 1rem;
  letter-spacing: 1px;
}

.leaflet-container,
.error-msg {
  width: 100%;
  height: calc(100vh - 200px);
}

ul {
  margin-top: 0.75rem;
  padding: 0px 1.5rem;
}

ul li {
  margin: 0.75rem 0px;
}

.error-msg {
  font-size: 0.85rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 1rem;
}

.leaflet-control-container{
  display: none;
}

@media screen and (min-width: 768px) {
  .ip-info {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    padding: 2em 0.5em;
    top: 30px;
    box-shadow: 0px 0px 5px 0px rgba(128, 128, 128, 0.4);
    max-width: 900px;
  }

  .ip-info div {
    text-align: left;
    width: 24%;
    padding: 0px 1em;
    border-right: 1px solid rgba(128, 128, 128, 0.4);
  }

  .ip-info div:last-child {
    border-right: none;
  }
}
